.modal {
  button.active {
    background: gray;
  }
}
#loan_class {
  z-index: 1003;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
}

#materialize-lean-overlay-30{
  z-index: 1002;
  opacity: 0.5;
  display: none;
}

.input-field {
  height: 90px;
}

.date_container {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  max-width: 768px;
  margin: 0px auto;
  opacity: 1;
}

.table_title_head {
  width: 100px;
}

table {
  td {
    padding: 0px;
    padding-bottom: 2px;
  }
}

.period_container {
  display: inline-block;
  position: relative;
  margin: 0;
  height: 150px;
  width: 60px;

  & > div {
    position: absolute;
    border: solid 1px black;
    width: 45px;
  }

  .number_period1 {
    top: 0;
  }
  .number_period2 {
    top: 50px;
  }
  .number_period3 {
    top: 100px;
  }
  .english_period1 {
    top: 0;
  }
  .english_period2 {
    top:70px;
  }
}

.content1, .content2, .content3, .content4, .content5 {
  display: inline-block;
  position: relative;
  margin: 0;
  height: 150px;
  width: 60px;

  & > div {
    position: absolute;
    border: solid 1px black;
    width: 45px;
  }

  .number_container {
    height: 50px;
    background: blue;
  }
  .english_container {
    height: 75px;
    background: green;
  }
  .user_container {
    height: 25px;
    background: red;
  }

  .number_period1 {
    top: 0;
  }
  .number_period2 {
    top: 50px;
  }
  .number_period3 {
    top: 100px;
  }

  .english_period1 {
    top: 0;
  }
  .english_period2 {
    top:70px;
  }

  .user_period1 {
    top: 0px;
  }
  .user_period2 {
    top: 25px;
  }
  .user_period3 {
    top: 50px;
  }
  .user_period4 {
    top: 75px;
  }
  .user_period5 {
    top: 100px;
  }
  .user_period6 {
    top: 125px;
  }
}

.number_container, .english_container {
  width: 40px;

  p {
    font-size: 8px;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
}

.number_container > div {
  height: 45px;
}
.english_container > div {
  height: 70px;
}

.row-table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  
  thead {
    display: block;
    float: left;
    
    tr {
      display: block;
    }
  }
  
  tbody {
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
    
    tr {
      display: inline-block;
      vertical-align: top;
    }
  }
  
  th, td {
    line-height: 2em;
    height: 36px;
    padding: 5px 15px;
    display: block;
    vertical-align: middle;
  }
}

.pika-single{
  box-sizing: border-box;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  width: 320px;
  max-width: 768px;
  margin: 0px auto;
  opacity: 1;

  .pika-lendar{
    .pika-prev, .pika-next{
      text-decoration: none;
      color: #FFF;
      background-color: #26A69A;
      text-align: center;
      letter-spacing: 0.5px;
      transition: all 0.2s ease-out 0s;
      cursor: pointer;
      border: medium none;
      border-radius: 2px;
      display: inline-block;
      width: 50%;
      height: 36px;
      line-height: 36px;
      outline: 0px none;
      padding: 0px 1rem;
      text-transform: uppercase;
      vertical-align: middle;
      transform: scale(0.8);

      &:hover {
        background-color: #2BBBAD;
        box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.pika-lebal {
  position: relative;
  overflow: hidden;
  height: 38px;
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  cursor: pointer;
  opacity: 1;
  width: 100%;
}

.pika-table {
  td, th {
    padding: 15px 0px !important;
    text-align: center !important;
    abbr {
      font-style: none;
      float: left;
      width: 37px;
      text-align: center;
      margin: 0 2px;
      border-bottom: none !important;
    }
  }
}

.pika-button {
  border: 10px;
  background: transparent;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  font-family :Roboto, sans-serif;
  tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  float: left;
  width: 41px;
  padding: 0;
  -moz-appearance: button;

  &:hover:before {
    content:"";
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 41px;
    top: -10px;
    left: 0px;
    border-radius: 50%;
    vertical-align: middle;
    opacity: 1;
    background-color: rgba(38, 166, 154, 0.8) !important;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15) !important;
    z-index: -1;
    animation: fadein 0.15s 1;
    animation-timing-function: ease-out;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
