.date_container{

}
.pika-single{
  .pika-lendar{
    .pika-prev{
      float: left !important;
    }
    .pika-next{
      float: right !important;
    }
    .pika-prev, .pika-next{
      // .waves-effect
      position: relative;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      will-change: opacity, transform;
      transition: all .3s ease-out;

      // btn
    }
  }
}
