#property_container .hide{
  display: none;
}
#property_container .block{
  display: block;
}
#property_container .inline-block{
  display: inline-block;
}
#property_container .modal .btn{
  margin-right: 20px;
}
#property_container .modal .row{
  margin-left: 0px;
  margin-right: 0px;
}
#property_container #sub_menu{
  overflow-x: hidden;
}
#property_container .container{
  margin-right: 0px;
}

#property_container #property_history, #property_container #property_manage{
  background-color: white;
  color: black;
}
#property_container #property_history_content, #property_container .manage_system,
#property_container .repair_system{
  display:none;
}

#property_container .isReturn {
  position: absolute;
  color: red;
}

#property_container #property_modal, #property_container #history_modal,
#property_container #create_property_modal, #property_container #loan_property_modal,
#property_container #return_property_modal, #property_container #repair_property_modal,
#property_container #total_return_property_modal{
  z-index: 1003;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
}
#property_container #materialize-lean-overlay-30{
  z-index: 1002;
  opacity: 0.5;
  display: none;
}

#property_container #property_history_content .card.waves-effect{
  display: inherit;
}

#property_container .page{
  cursor: pointer;
}

#property_container #repair_printer{
  padding:20px;
  display: none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: white;
  z-index:9999;
}
#property_container #repair_printer table tr td{
  line-height: 0.9;
  padding: 1px;
  border: 1px solid #000000;
}

#property_container #loan_property_content, #property_container #total_return_property_content, #property_container #loan_property_content div{
  margin-top: 0;
  margin-bottom: 0;
}

#property_container .collapsible .collapsible-body{
  padding-bottom: 10px;
  padding-top: 10px
}